.link{
    display: block;
    width: 100%;
    border: solid 1px black;
    margin: 5px;
    padding: 5px;
    text-align: center;
}


.active{
    display: block;
    border: solid 1px black;
    background-color: rgb(8, 235, 224);
}

