.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

main{
  display: flex;
  flex-direction: row;
}
h1{
  text-align: center;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.folderList{
  width: 25%;
}

.noteList{
  width: 65%;
}
